@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400&display=swap');
:root {
  /* Paleta de colores */
  --color-rojo-oscuro: #8B0000;
  --color-rojo-cereza: #D2042D;
  --color-rojo-brillante: #FF0000;
  --color-rojo-coral: #FF4D4D;
  --color-rojo-salmon: #FF8C69;
  --color-blanco-puro: #FFFFFF;
  --color-blanco-hueso: #FFF5EE;
  --color-blanco-antique: #FAEBD7;
  --color-blanco-almendra: #FFEBCD;
  --color-rosa-palido: #FFE4E1;
  --color-gris-claro: #F8F8F8;
  --color-gris-medio: #E0E0E0;
  --color-gris-oscuro: #333333;
}

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--color-gris-oscuro);
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    background-color: var(--color-blanco-puro);
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-rojo-oscuro);
}

.btn {
    display: inline-block;
    background-color: var(--color-rojo-cereza);
    color: var(--color-blanco-puro);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--color-rojo-oscuro);
}

.btn-large {
    font-size: 1.2em;
    padding: 15px 30px;
}

/* Header y navegación */
header {
    position: fixed;
    width: 100%;
    height: 9.5%;
    z-index: auto;
    background-color: var(--color-rojo-oscuro);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 2vh;
    height: 2rem;
}

.logo {
    margin-left: 2vh;
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--color-blanco-puro);
    text-decoration: none;
}

/* Sección Hero */
.hero {
    background-color: var(--color-blanco-hueso);
    text-align: center;
    padding: 4rem 2rem;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 0.5rem;
}

/* Sección de promociones */
.promociones {
    padding: 2rem;
    background-color: var(--color-blanco-antique);
}

.promo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.promo-card {
    border: 1px solid var(--color-gris-medio);
    background-color: var(--color-blanco-puro);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.promo-card img {
    max-width: 100%;
    border-radius: 5px;
}

/* Sección CTA */
.cta {
    background-color: var(--color-rosa-palido);
    text-align: center;
    padding: 4rem 2rem;
}

/* Página de detalles de promoción */
.promo-detalle {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--color-blanco-almendra);
}

.promo-detalle img {
    max-width: 100%;
    border-radius: 5px;
}

.video-promo {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.video-promo video {
    max-width: 100%;
}
.video-container{
position: relative;
padding-bottom:56%;
height: 0;
overflow: hidden;

}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Página de suscripción */
.suscripcion {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--color-blanco-hueso);
}

.suscripcion form {
    display: flex;
    flex-direction: column;
}

.suscripcion label {
    margin-top: 1rem;
    color: var(--color-rojo-oscuro);
}

.suscripcion input,
.suscripcion select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color-gris-medio);
    border-radius: 5px;
    background-color: var(--color-blanco-puro);
}

footer {
    background-color: var(--color-rojo-oscuro);
    color: var(--color-blanco-puro);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-left: 15px;
}

.social-icons img {
    width: 2rem; /* Ajusta este valor según el tamaño deseado de tus iconos */
    height: 2rem;
    margin-bottom: 30px;
}

.copyright {
    margin-bottom: 2vh; /* Esto despega el texto de copyright 2vh del borde inferior */
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 1rem;
    }

    nav ul li {
        margin: 0 10px;
    }

    .hero h1 {
        font-size: 2em;
    }
}